<header class="navbar">
  <div class="navbar-inner">
    <div class="brand">WebSocket Chat Experiment</div>
  </div>
</header>
<section class="container" ng-controller="WebSocketChatCtrl">
  <div class="row">
    <div class="span3">
      <div id="attendee">
        <table class="table table-condensed" style="max-height: 500px; overflow-y: scroll;">
          <thead>
            <tr>
              <th>Attendees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="form-inline">
                <input type="text" id="name" ng-model="name" ng-disabled="!session_standby" placeholder="Enter your name" style="width: 110px;" />
                <input type="button" id="connect" class="btn" ng-class="{'btn-primary':session_standby, 'btn-danger':!session_standby}" value="{{session_button}}" ng-click="toggle_session()" />
              </td>
            </tr>
            <tr ng-repeat="attendee in attendees">
              <td>{{attendee}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="span9">
      <h1>Do the chat!</h1>
      <div id="conversation" class="well">
        <div id="message" class="form-inline">
          <div class="alert" ng-class="{'alert-success':notification_type=='success', 'alert-info':notification_type=='info', 'alert-error':notification_type=='error'}" ng-show="notification" style="position:absolute; margin-left:370px; margin-top:-5px;">
            {{notification}}
          </div>
          <input type="text" id="text" ng-model="message" ng-disabled="session_standby" placeholder="Type text and enter to send a text message" style="width:350px;" />
        </div>
        <div style="height: 300px; margin-top:12px; overflow-y: scroll;">
          <table class="table table-condensed">
            <colgroup>
              <col class="span2">
              <col class="span2">
              <col class="span10">
            </colgroup>
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="message in messages" style="word-break:break-all;">
                <td>{{message.datetime|date:'HH:mm:ss'}}</td>
                <td>{{message.name}}</td>
                <td ng-class="{muted:message.type=='start_music'}">{{message.data}}</td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
  <hr>
  <footer class="footer">
    <p>Powered by <a href="http://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://nodejs.org/" target="_blank">node.js</a>, <a href="https://github.com/einaros/ws" target="_blank">ws</a> and <a href="http://dev.w3.org/html5/websockets/" target="blank">WebSocket</a>. Developed by <a href="http://profiles.google.com/agektmr" target="_blank">Eiji Kitamura</a> (<a href="http://twitter.com/agektmr" target="_blank">@agektmr</a>). Source code can be found on <a href="https://github.com/agektmr/WebSocket-Chat-Experiment" target="_blank">github</a>.</p>
  </footer>
</section>
