<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/binarize.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
  <%- body %>
  </body>
</html>
